@layout('layouts.main')

@section('content')
  <div class="container">
    <div class="jumbotron mt-3">
      <h1 class="dispay-4">成功啦！</h1>
      <p class="lead">您的订单已经完成了。</p>
      <p class="head">
        <a href="/checkout" class="btn btn-primary my-2">返回</a>
      </p>
    </div>
  </div>
@endsection
